<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p><u>Classes I have taken so far at Columbia:</u></p>
    <p> <b>Fall 2019 </b><br> Multivariable Calculus <br> General Chemistry 1 <br> General Chemistry Laboratory <br> The Art of Engineering <br> Physics 1: Mechanics/Relativity    
    <p> <b>Spring 2020 </b><br> Intro to Electrical Engineering <br> Principles of Economics <br> Physics 2: Thermo, Electricity, Magnetism <br> Physical Ed: Independent <br> Intro to Computing 
    <br> University Writing: Contemporary Essays 

    </body>
</html>

