<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello World!</p>
    <p>My name is Madeleine Denis</p>
    <p>I am a first-year SEAS student</p>
    <p>I intend to major in Electrical Engineering</p>
    <p><a href="/classes">Visit Classes I have taken</a>
    <p><a href="https://www.youtube.com/channel/UCZdQjaSoLjIzFnWsDQOv4ww">A YouTube channel to get you through lockdown</a>
    <p><img src="/static/images/me.jpg" alt="Me"> 
    </body>
</html>

